.container .profile-data .events{
  background-color: #F2F2F2;
  width: 100%;
  border-radius: 20px;  
}

.container .profile-data .events ul{
  width: 80%;
  display: block;
  margin: 0 auto;
}

.container .profile-data .events h2{
  margin-bottom: 30px;
  font-weight: 700;
}

.container .profile-data .events li{
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.container .profile-data .events li .event-header{
  font-weight: bold;
}
.container .profile-data .events li p{
  font-size: 16px;
}
